<div class='panel panel-info'>
	
    <div class='panel-heading'>Contacts</div>
	<div class='panel-body'>
    <div class='row'>
      <div class='col-md-2'>
        <a href='https://twitter.com/bmonsueir' target='_blank'>Twitter</a>
      </div>
      <div class='col-md-2'>
        <a href='https://linkedin.com/in/bmonsueir' target='_blank'>LinkedIn</a>
      </div>
      <div class='col-md-2'>
        <a href='https://github.com/bmonsueir' target='_blank'>GitHub</a>
      </div>
      <div class='col-md-2'>
        <a href='http://www.freecodecamp.com/bmonsueir' target='_blank'>Free Code Camp</a>
      </div>
    </div>
	</div>
  </div>
</div>