<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Bill Monsueir{% endblock %}</title>
    <meta charset="utf-8">
    {% load staticfiles %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'showcase/style.css' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<a name="home"></a>
<div class='container'>
  <div class="row">
    <div class="col-md-10">
      <nav class="navbar navbar-default fixed-nav-bar" role="navigation">
        <div class='col-md-10'>
          <div class="navbar-header">
            </button> <a class="navbar-brand" href="#">Bill Monsueir</a>
          </div>
          <ul class="nav navbar-nav">
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="#portfolio">Portfolio</a>
            </li>
			<li>
              <a href="res.html">Resume</a>
            </li>
            <li>
              <a href="#contacts">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
 <div style = "margin: 20px;"><br /></div> 
{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}

</body>
</html>