.fixed-nav-bar {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 60%;
  height: 50px;
  background-color: #0000FF;
  
}
.resume{
	color: #FFFFFA;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
h3{
  text-align: center;
	color: #FFFFFA;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
  height: 500px;
}
h6 {
  text-align: center;
	color: #010101;
  
}
